<% content_for(:auth_header) do %>
<h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Edit your profile</h2>
<% end %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "space-y-6" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div>
    <%= f.label :email, class: label_class %>
    <div class="mt-1">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: input_class %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div>
    <%= f.label :password, class: label_class %>
    <div class="mt-1">
      <%= f.password_field :password, autocomplete: "new-password", class: input_class %>
    </div>
    <div class="mt-1 text-sm text-gray-500">
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> characters minimum</em> &ndash; (leave blank if you don't want to change it)
      <% end %>
    </div>
  </div>

  <div>
    <%= f.label :password_confirmation, class: label_class %>
    <div class="mt-1">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: input_class %>
    </div>
  </div>

  <div>
    <%= f.label :current_password, class: label_class %>
    <div class="mt-1">
      <%= f.password_field :current_password, autocomplete: "current-password", class: input_class %>
    </div>
    <div class="mt-1 text-sm text-gray-500">
      <i>(we need your current password to confirm your changes)</i>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-8">
    <%= f.submit "Update", class: form_button_class %>
    <%= link_to "Back", :back, class: "flex w-full justify-center rounded-md border border-transparent bg-gray-100 py-2 px-4 text-sm font-medium text-gray-600 shadow-sm" %>
  </div>
<% end %>

<div class="mt-8 text-red-600 text-sm text-center">
  <p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
</div>
