<% content_for(:auth_header) do %>
<h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Create your account</h2>
  <p class="mt-2 text-center text-sm text-gray-600">
    Already have an account?
    <%= link_to "Login", new_user_session_path, class: "font-medium text-indigo-600 hover:text-indigo-500" %>
  </p>
<% end %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "space-y-6" }, data: { turbo: false }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div>
    <%= f.label :first_name, class: label_class %>
    <div class="mt-1">
      <%= f.text_field :first_name, autofocus: true, class: input_class %>
    </div>
  </div>

  <div>
    <%= f.label :last_name, class: label_class %>
    <div class="mt-1">
      <%= f.text_field :last_name, autofocus: true, class: input_class %>
    </div>
  </div>

  <div>
    <%= f.label :email, class: label_class %>
    <div class="mt-1">
      <%= f.email_field :email, autocomplete: "email", class: input_class %>
    </div>
  </div>

  <div>
    <%= f.label :password, class: label_class %>
    <div class="mt-1">
      <%= f.password_field :password, autocomplete: "new-password", class: input_class %>
    </div>
    <div class="mt-1 text-sm text-gray-500">
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
    </div>
  </div>

  <div>
    <%= f.label :password_confirmation, class: label_class %>
    <div class="mt-1">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: input_class %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: form_button_class %>
  </div>
<% end %>

<%#= render "devise/shared/links" %>
